.defaultInput {
  display: none;
}

.btn-load {
  border: 1px solid goldenrod;
  text-decoration: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:active {
  transform: translateY(2px);
}
