.defaultInput {
  display: none;
}

.btn-load {
  border: 1px solid rgb(32, 181, 218);
  text-decoration: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:active {
  transform: translateY(2px);
}

.dbName {
  margin: 0 5px;
}
