.file-info {
  background: rgb(231, 230, 230);
  border-radius: 4px;
  padding: 7px 5px;
  position: relative;
}

.title {
  padding: 2px 5px;
  font-size: 10px;
}

.name {
  padding: 2px 5px;
  font-size: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: rgb(238, 55, 55);
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  color: aliceblue;
}

.loader span {
  color: rgb(226, 238, 53);
  background: #000;
  border-radius: 3px;
  padding: 0 5px;
}

.db-name {
  font-weight: 600;
}
