header {
  background: rgb(15, 175, 238);
  padding: 2px;
  margin-bottom: 10px;
}

.header-title {
  padding: 5px;
  font-size: 1.3rem;
}

.project {
  background: rgb(224, 236, 46);
  border-radius: 3px;
}
